
.avatar-lg {
    height: 5rem;
    width: 5rem;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.w-xl {
    min-width: 160px;
}



.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
} 