.footer-container {
  background-color: rgb(66, 64, 64);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

.text p {
  font-size: larger;
}

.p-bold {
  font-weight: bold;
}

.text-color {
  color: #dc3545;
  font-family: tektur;
  font-weight: bolder;
}
