.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.p-card {
  border: none;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 320px;
}

.card .btn-primary {
  text-decoration: none;
  color: red;
  padding: 5px 0 0 0 ;
  background-color: transparent;
  border: none;
}

.card a:hover {
  text-decoration: underline;
  color: red;
}

.p-img {
  object-fit: contain;
  height: 140px;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .p-card {
    height: auto;
    width: 200px;
  }
}